# Dependencies
node_modules/
dist/

# Local env files
.env
.env.*

# TypeScript
*.tsbuildinfo

# Editor files
.vscode/
.idea/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

shape_files/

# Misc
.DS_Store
*.pem
